services:
  openvpn:
    build:
      dockerfile: openvpn.Dockerfile
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    networks:
      - vpnsecure
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "https://google.com"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    sysctls:
      - net.ipv4.ip_forward=1


  tailscale:
    image: tailscale/tailscale:latest
    privileged: true # Required for Tailscale to control networking
    cap_add:
      - NET_ADMIN
    network_mode: "service:openvpn"
    volumes:
      - ./tmp/tailscale_vpn:/var/lib/tailscale  # Persist Tailscale state
      - /home/ec2-user/tailscale-entrypoint.sh:/entrypoint.sh:ro
    env_file: ".ovpn-ts.env"
    depends_on:
      openvpn:
        condition: service_healthy
    restart: always
    sysctls:
      - net.ipv4.ip_forward=1
    entrypoint: ["/entrypoint.sh"]

networks:
  vpnsecure:
    driver: bridge
    enable_ipv6: false 